* {
  font-size: 16px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 2px;
  padding: 4px;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

section {
  border: 3px;
  width: 65vw;
}

button {
  background-color: #adefd1ff;
  color: #00203fff;
  padding: 10px;
  height: 2.5rem;
  border-radius: 20px;
}

p {
  margin-left: 19px;
}

.text-heading,
.highscore {
  margin: 30px;
}

.start-button {
  width: 35vw;
  height: 40px;
}

#highscore-list > li:nth-child(odd) {
  background-color: #adefd1ff;
  color: #00203fff;
}

#highscore-list > li:nth-child(even) {
  background-color: #00203fff;
  color: #adefd1ff;
}

@media screen and (max-width: 400px) {
  * {
    font-size: 12px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main {
    margin-top: 10px;
  }

  .text-heading,
  .highscore {
    margin: 10px;
  }
}
